    
    body
    {
        background:#347B98;
        
     }

    .header 
    {
          padding: 10%; 
    
          text-align: center; 
    
          background: #347B98; 
        
        font-family: "AidaSerifObliqueMedium", serif;
    
          color: #B0E0E6;
        
        margin: auto;
                       
    }


    /* Increase the font size of the <h1> element */

    .header h1 
    {
  
        font-size: 60px;

    }

        .topleft 
        {
  
            position: absolute;
  
            top: 0;
  
            left: 16px;
            
            padding: 15px;
            
            color: #B0E0E6;

        }

       
        /* nav-bar(side-open) */
        .overlay 
        {
            height: 100%;
  
            width: 25%;
    
            display: none;
  
            position: fixed;
  
            z-index: 1;
  
            top: 0;
  
            left: 0;
  
            background-color: #FB9902;
  
            background-color: #110934;

        }

        /* nav-bar contents */
        .overlay-content 
        {
  
            position: relative;
  
            top: 25%;
  
            width: 100%;
  
            text-align: center;
  
            margin-top: 30px;
            
        }

        /* nav-bar links */
        .overlay a 
        {
  
            padding: 8px;
  
            text-decoration: none;
  
            font-size: 36px;
  
            color: #D4EDF7 ;
  
            display: block;
  
            transition: 0.3s;
            
            font-family: "Latinia";
            
            letter-spacing: 3px;
            
            line-height: 35px;

        }

        /* hover- links */
        .overlay a:hover, .overlay a:focus 
        {
  
            color: #FB9902;

        }

        /* close button- cross */
        .overlay .closebtn 
        {
  
            position: absolute;
  
            top: 20px;
  
            right: 45px;
  
            font-size: 60px;
        }

        /* sidenav-open */
        #open 
        {
            color: #D4EDF7;
            
            font-family: "Vogue";
            
            font-size: 10px;
        
        }
        
        /* main content */
        .main
        {
            color: #110934;
            
            background:#B0E0E6;  
            
            font-family: "Times New Roman", Times, serif;
            
            padding: 17px;
            
            margin-left: 40px;
            
             margin-right: 40px;
            
        }

        /* headings-topics for that page */
        h2
        {
            text-align: center;
                                
            font-family: "Latinia";
            
            font-size: 35px;
            
            color: #110934;
            
        }

        h3
        { 
            font-size: 30px;
    
            font-family: "Latinia";
            
            color: #110934;
            
            margin-left: 10px;

        }

        .paraAll
        {
            font-size: 25px;
                    
            text-align: justify;
            
            padding-left: 37px;
            
            padding-right: 37px;
            
            font-family: "Philosopher";
            
            line-height: 35px;
                
        }
                
        #headb
        {
            font-size: 25px;
            
        }


        .footer 
        {
            padding: 20px; /* Some padding */
            
            text-align: center; /* Center text*/
            
            background: #110934; 
            
            color: #B0E0E6; /* PowderBlue */
            
            font-size: 30px;
            
            font-family: "Vogue";
        
        }